#movie-title{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
}

#rating{
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

#num-review{
    font-size: 8pt;
    color: white;
}
.banner{
    width: 100%;
    height: 50px;
    background-image: url(bannerbackground.png);
    background-repeat: repeat-x;
}

.main-part{
    background-color: green;
    width: 800px;
    margin: 0 auto;
    border: 4px;
    border-color: gray;
    border-style: solid;
}

.first-panel{
    width: 550px;
}

.rating-panel{
    display: flex;
    background-image: url(rottenbackground.png);
    background-repeat: repeat-x;
}

.rating-panel img{
    height: 83px;
}

.columns{
    display: flex;
    background-color: aqua;
}

.column{
    width: 47%;
    margin: 2%;
}

.column div{
    overflow: hidden;
    font-weight: bold;
    font-size: 8pt;
    background-color: #E1D697;
    border: 2px solid gray;
    padding: 8px;
}

.column div img{
    float: left;
    margin-right: 5px;
}

.column span{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

body{
    background-image: url(background.png);
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}